/* font-family: 'Source Sans Pro', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 3rem;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(10, 118, 79);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 61.5%;
  width: 39.5%;
  height: 30px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 50px;
  right: 61.5%;
  width: 39.5%;
  height: 30px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
  width: 225px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
}

.item .item__image {
  width: 100%;
  margin-bottom: 5px;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0 0 10px 10px;
}

.item .item__price {
  text-align: center;
  font-weight: 700;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: rgba(10, 118, 78, 0.7);
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 100vh;
}

.cart .cart__items {
  height: 500px;
  padding: 15px;
  overflow-y: scroll;
  list-style: none;
}

.cart .cart__item {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.empty-cart {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  width: 190px;
  height: 55px;
  margin: 20px auto;
  color: white;
  background-color: rgb(5, 52, 219);
  border-color: transparent;
  border-radius: 25px;
}

.empty-cart:hover , .item__add:hover {
  background-color: rgb(44, 171, 225);
}

.total-price-container {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  color: rgb(10, 118, 79);
}

.loading {
  padding-top: 40px;
  font-size: 7rem;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  color: rgb(3, 52, 45);
}
