* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(6, 52, 90);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(3, 41, 179);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(3, 41, 179);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(3, 41, 179);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
}

.item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  line-height: 1.5;
}

.item .item__price {
  padding: 15px;
  font-weight: 600;
  font-size: 1.1em;
  color: rgb(112, 23, 23);
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 12px 10px;
  color: white;
  font-size: 0.9em;
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: rgb(241, 241, 238);
  height: 100vh;
  padding: 20px;
}

.cart .cart__items {
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
}

.cart .cart__items .cart__item {
  padding: 8px;
  font-size: 0.9em;
  margin: 8px 0;
  background-color: rgba(78, 79, 143, 0.178);
  line-height: 1.5;
  cursor: url('Symbol-for-Delete.svg.png'), not-allowed;
}

.empty-cart {
  width: 180px;
  height: 40px;
  border: 2px solid rgb(5, 52, 219);
  background-color: rgb(249, 249, 246);
  cursor: pointer;
  font-size: 0.9em;
}

.empty-btn-container {
  margin-bottom: 45px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.cart_fixed_elements {
  padding: 10px;
  margin-top: 10px;
}

.cart_fixed_elements span {
  color: rgb(112, 23, 23);
  font-size: 1.1em;
}

.total-price {
  font-weight: 700;
}

.loading {
  font-size: 1em;
  text-align: center;
  color: rgb(3, 52, 45);
  padding: 20px;
  font-weight: 700;
}
